<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HybridFrameWorkTesting">
	<listeners>
		<listener class-name="Hybridframework.listeners.Mylisteners"/>
	</listeners>
	<test name="Test">
		<classes>
			<class name="hybridframework.TestCases.LoginTest" />
			<class name="hybridframework.TestCases.RegisterTest" />
			<class name="hybridframework.TestCases.SearchTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
